@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/comfortaa-bold/Comfortaa-Regular.ttf");
}

@font-face {
  font-family:  "mnicmp";
  src: url("../fonts/mnicmp/mnicmpSquare-Regular.otf")
}

@font-face {
  font-family: "Chicagoflf";
  src: url("../fonts/chicagoflf/ChicagoFLF.ttf")
}

h1, h2, h3, h4, h5, h6 {
  font-family: Comfortaa;
  font-weight: bold;
  color: whitesmoke;
}

* {
  font-family: Chicagoflf;
}

#title {
  font-family: mnicmp;
}
